<table class="records-index">
  {{#each records}}
  <tr>
    <td>
      {{this.category}}
    </td>
    <td>
      {{this.name}}
    </td>
    <td>
      {{this.date}}
    </td>
    <td>
      {{this.amount}}
    </td>
  </tr>
  {{/each}}
</table>
<a href="/records/create">新增支出</a>